#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        zephyr,display = &st7789v;
		zephyr,buzzer = &buzzer;
		zephyr,backlight = &backlight;
    };

    behaviors {
        dongle_action_behavior: dongle_action_behavior {
            compatible = "zmk,behavior-dongle-action";
            #binding-cells = <0>;
        };
    };

	pwmbuzzer {
        compatible = "pwm-leds";
        buzzer: buzzer_pwm {
            pwms = <&pwm0 0 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
        };
		backlight: backlight {
			pwms = <&pwm0 1 PWM_MSEC(1) PWM_POLARITY_NORMAL>; // Use PWM channel 1
		};
    };

	// pwmbacklight {
	// 	compatible = "pwm-leds";
	// 	backlight: backlight {
	// 		pwms = <&pwm0 1 PWM_MSEC(1) PWM_POLARITY_NORMAL>; // Use PWM channel 1
	// 	};
	// };

    dongle_action_direct_kscan: dongle_action_direct_kscan {
        compatible = "zmk,kscan-gpio-direct";
	    input-gpios
	        = <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	        ;
    };

    dongle_action_sideband_behaviors {
        compatible = "zmk,kscan-sideband-behaviors";
        kscan = <&dongle_action_direct_kscan>;
		auto-enable;
        dongle_action_sideband: dongle_action_sideband {
            row = <0>;
            column = <0>;
            bindings = <&dongle_action_behavior>;
        };
    };
};

&pinctrl {
	spi0_default: spi0_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 17)>,<NRF_PSEL(SPIM_MOSI, 0, 20)>;
		};
	};

	spi0_sleep: spi0_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 17)>,<NRF_PSEL(SPIM_MOSI, 0, 20)>;
			low-power-enable;
		};
	};

    pwm0_default: pwm0_default {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 29)>, /* buzzer */
					<NRF_PSEL(PWM_OUT1, 1, 15)>; /* backlight */
        };
    };
    pwm0_sleep: pwm0_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 29)>, /* buzzer */
					<NRF_PSEL(PWM_OUT1, 1, 15)>;	/* backlight */
            low-power-enable;
        };
    };
};

&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
};

&spi0 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	cs-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default", "sleep";
	
	st7789v: st7789v@0 {
		compatible = "sitronix,st7789v";
		spi-max-frequency = <20000000>;
		reg = <0>;
		cmd-data-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
		width = <240>;
		height = <240>;
		x-offset = <0>;
		y-offset = <0>;
		vcom = <0x19>;
		gctrl = <0x35>;
		vrhs = <0x12>;
		vdvs = <0x20>;
		mdac = <0x00>;
		lcm = <0x2c>;
		colmod = <0x05>;
		gamma = <0x01>;
		porch-param = [08 08 00 22 22];
		cmd2en-param = [5a 69 02 01];
		pwctrl1-param = [a4 a1];
		pvgam-param = [F0 00 0A 10 12 2A 3F 54 4B 1B 0E 0D 1F 23];
		nvgam-param = [F0 00 0A 10 12 2C 3F 44 50 2D 1D 1F 20 23];
		ram-param = [00 F0];
		rgb-param = [CD 08 14];
	};
};
